<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<depends plugin-name="com.iver.cit.gvsig.cad"/>
	<depends plugin-name="es.udc.cartolab.gvsig.elle"/>
	<depends plugin-name="es.udc.cartolab.gvsig.users"/>
	<libraries library-dir="lib"/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="es.udc.cartolab.gvsig.eielforms.AlumbradoFormExtension" description="NoNavTable" active="true">
			<menu text="Datos EIEL/Alumbrado"
				action-command="NoNavTable"
				icon="" position="1501"/> 
		</extension>
		<extension class-name="es.udc.cartolab.gvsig.eielforms.CarreterasFormExtension" description="NoNavTable" active="true">
			<menu text="Datos EIEL/Carreteras"
				action-command="NoNavTable"
				icon="" position="1502"/> 
		</extension> 
		<extension class-name="es.udc.cartolab.gvsig.eielforms.TramosCarreterasFormExtension" description="TramosNavTable" active="true">
			<menu text="Datos EIEL/Tramos Carret."
				action-command="TramosCarreterasNavTable"
				icon="" position="1503"/> 
		</extension> 
	</extensions>
</plugin-config>
