<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<depends plugin-name="com.iver.cit.gvsig.cad"/>
	<depends plugin-name="com.iver.cit.gvsig.wms"/>
	<depends plugin-name="es.gva.cit.gvsig.catalogClient"/>
	<depends plugin-name="es.udc.cartolab.gvsig.navtable"/>
	<depends plugin-name="es.udc.cartolab.gvsig.users"/>
	<depends plugin-name="es.udc.cartolab.gvsig.eielutils" />
	<libraries library-dir="lib"/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="es.udc.cartolab.gvsig.eielforms.FormExtension" description="Formulario" active="true">
			<menu text="EIEL/Formularios/Formulario de la capa"
				action-command="form"
				icon="images/formularios.png"
				position="99"/> 
			<tool-bar name="Formulario">
				<action-tool icon="images/formularios.png" tooltip="lanzar_formulario"
					action-command="form" position="99"/>
			</tool-bar>
		</extension>
		<extension class-name="es.udc.cartolab.gvsig.eielforms.ThrowFormExtension" description="throw_form" active="true">
			<tool-bar name="NavTable">
				<action-tool icon="throw-form" tooltip="activar_formularios"
					action-command="throw_form" position="5" name="throw-form"/>
			</tool-bar>
		</extension>
		<extension class-name="es.udc.cartolab.gvsig.eielforms.AlphanumericFormExtension" description="form" active="true">
			<menu text="EIEL/Formularios/Carreteras"
				action-command="Carreteras"
				position="03"/> 
			<menu text="EIEL/Formularios/Calles"
				action-command="Calles"
				position="04"/>
		</extension>
	</extensions>
</plugin-config>